/*RESET / BASE*/
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html,body {
	margin: 0;
	padding: 0;
}

/*HEADER*/
header {
	width: 100%;
	display: flex;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
	margin: auto;
	color: #FEFEFE;
	background: #131313;
	padding: 1rem 0;
}
.logo {
	height: 64px;
	width: 64px;
	background: url(../img/logo.png);
	background-size: contain;
	margin-right: 2rem;
	border-radius: 32px;
	border: 3px solid #3366DD;
}

/*MAIN*/
blockquote {
	background: #F3F3F3;
	padding: 1rem;
	font-weight: bold;
	transition: background 0.3s ease, padding 0.3s ease;
	border-radius: 3rem;
	cursor: pointer;
}
.asp-answer {
	margin-left: 3rem;
	font-family: 'Open Sans', sans-serif;
	display: none;
}
blockquote:before {
    content: "+";
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
blockquote:hover {
	background: #E3E3E3;
}
blockquote.expanded {
	background: #A1CFED;
	padding-left:2rem;
}
blockquote.expanded:before {
	content: "-";
}
h2 {
	margin-left: 2rem;
}
code {
	background: #EEE;
	color: #EE3300;
	padding: 2px;
}

.red-sans-serif {
	font-family: sans-serif;
	color: #F00;
}
.coding-challenges {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.iframe {
	margin: auto;
	display: none;
}
iframe {
	border: 0;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	margin: auto;
	display: block;
	width: 75%;
}