/*RESET / BASE*/
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html,body {
	margin: 0;
	padding: 0;
}

/*HEADER*/
header {
	width: 100%;
	display: flex;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
	margin: auto;
	color: #FEFEFE;
	background: #131313;
	padding: 1rem 0;
}
.logo {
	height: 64px;
	width: 64px;
	background: url(../img/logo.png);
	background-size: contain;
	margin-right: 2rem;
	border-radius: 32px;
	border: 3px solid #3366DD;
}

/*MAIN*/
blockquote {
	background: #F3F3F3;
	padding: 1rem;
	font-weight: bold;
}
.asp-answer {
	margin-left: 3rem;
	font-family: 'Open Sans', sans-serif;

}

h2 {
	margin-left: 2rem;
}
code {
	background: #EEE;
	color: #EE3300;
	padding: 2px;
}